.element-products-carousel {
  .header {
    padding-right: 80px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
  }

  .deals-of-countdown-product {
    .title-countdown {
      display: inline-block;
      margin-right: 10px;
    }
    .count-down-time-product {
      display: inline-block;

      .box-count {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        span {
          display: inline-block;

          &.number {
            margin-right: 3px;
          }
        }
      }
    }
  }
  .title {
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
    line-height: 1.5em;
    border-bottom: 3px solid $color-hover;
  }
  .owl-item {
    padding-left: 1px;
  }
  .item-product {
    border: 1px solid $border-color;

    .item-detail {
      padding: 10px 5px ;
    }
    .item-title {
      font-size: 14px;
      font-weight: 400;
      color: $color-primary;
      line-height: 1.5em;
      height: 3em;
      overflow: hidden;
    }
    .price {
      font-weight: 700;
      font-size: 18px;
      color: $color-hover;

      del {
        font-size: 14px;
        color: #666;
        font-weight: 400;
      }
      ins {
        text-decoration: none;
      }
    }
  }
  .item-box-products {
    position: relative;

    &.owl-carousel {
      .owl-nav {
        position: absolute;
        margin: 0;
        top: -50px;
        right: 0;
      }
    }
  }
}