.element-products-carousel {
  .title {
    font-size: 16px;
    padding-right: 70px;
    border-bottom: 1px solid #e6e6e6;

    span {
      padding: 0 0 8px;
      display: inline-block;
      border-bottom: 3px solid $color-hover;
    }
  }
  .owl-item {
    padding-left: 1px;
  }
  .item-product {
    border: 1px solid $border-color;

    .item-detail {
      padding: 10px 5px ;
    }
    .item-title {
      font-size: 14px;
      font-weight: 400;
      color: $color-primary;
    }
    .price {
      font-weight: 700;
      font-size: 18px;
      color: $color-hover;

      del {
        font-size: 14px;
        color: #666;
        font-weight: 400;
      }
      ins {
        text-decoration: none;
      }
    }
  }
  .item-box-products {
    position: relative;

    &.owl-carousel {
      .owl-nav {
        position: absolute;
        margin: 0;
        top: -50px;
        right: 0;
      }
    }
  }
}