.element-product-filter {
  .top-block {
    .top-block__list {
      .list-item {
        padding: 0;

        .btn-filter-product {
          position: relative;
          padding: 0 10px;
          overflow: hidden;

          &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 1px;
            opacity: 0;
            background-color: $background-primary;
            @include transition(all 0.4s ease-in-out);
          }
          &:after {
            position: absolute;
            content: "";
            bottom: -5px;
            left: 50%;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $background-primary;
            @include transition(all 0.4s ease-in-out);
            @include transform(translateX(-50%));
          }

          &.active,
          &:hover {
            color: $color-hover;

            &:before {
              width: 100%;
              opacity: 1;
            }
            &:after {
              bottom: 0;
            }
          }
        }
      }
    }
  }
  .element-product-filter__row {
    @include transition(all 0.4s ease-in-out);
  }
  .filter-opacity {
    opacity: 0.3;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}