.information {
  line-height: 35px;
  background-color: #eee;

  span {
    display: inline-block;
    padding-right: 12px;
    color: $color-hover;
    font-weight: 700;

    i.fa {
      margin-right: 5px;
    }
  }
}
.information__social-network {
  .social-network-item {
    margin: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }
}