.header-logo {
  padding: 20px 0;

  .header-logo__warp {
    .item {
      @include flex(1);
    }
  }
  .search-warp {
    .search-form {
      @include flexbox();

      input {
        &.search-field {
          @include flex(1);
        }
      }
    }
  }
  .site-shop-cart {
    .tz-shop-cart {
      color: #ffffff;
      padding: 5px 15px;
      background-color: $background-hover;
      border-radius: 5px;
      @include flexbox();
      @include align-items(center);

      i {
        margin-right: 10px;
        font-size: 16px;
      }
      span {
        display: inline-block;
        font-size: 11px;
        color: #e5101d;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        margin-left: 10px;
        background-color: #ffffff;
        border-radius: 50%;
      }
    }
  }
  .widget_shopping_cart {
   display: none;
  }
}