// Color
$color-primary: #000000;
$color-title: #000000;
$color-second: #891c17;
$color-hover: #ed2d24;

// Background
$background-primary: #ed2d24;
$background-second: #891c17;
$background-hover: #ed2d24;

// Border color
$border-color: #eeeeee;