// Color
$color-primary: #666666;
$color-title: #333333;
$color-hover: #ed2d24;

// Background
$background-primary: #ed2d24;
$background-second: #891c17;
$background-hover: #ed2d24;

// Border color
$border-color: #eeeeee;